

:root {
    --primary-color: #0d6efd; 
    --secondary-color: #6c757d;
    --dark-blue: #003366; 
    --custom-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-family: var(--custom-font);
}


.navbar.bg-dark {
    background-color: var(--dark-blue) !important;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

    .btn-primary:hover {
        opacity: 0.9;
    }